<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">


        <div class="x_content">


            <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action">
                    <thead>
                    <tr class="headings">

                        <th class="">شماره دسته بندی</th>
                        <th class=" ">نام دسته بندی</th>
                        <th class=" ">تصویر دسته بندی</th>
                        <th class=" ">تعداد زیر مجموعه</th>
                        <th class=" ">وضعیت</th>
                        <th class="last">عملیات
                    </tr>
                    </thead>

                    <tbody>
                    <tr class="even pointer">
                        
                        <td class=" ">658947</td>
                        <td class=" "> موتور گیربکس </td>
                        <td class=" "><img src="images/prod-1.jpg" class="img-responsive" alt="Cinque Terre" width="120" height="120"> </td>
                        <td class="">10</td>
                        <td class="success">فعال</td>
                        <td class=" last">
                            <a href="calendar" class="btn btn-info btn-xs"><i class="fa fa-calendar"></i>  مشاهده </a>
                            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> ویرایش </a>
                            <a href="calendar" class="btn btn-info btn-xs"><i class="fa fa-calendar"></i>  افزودن محصول </a>
                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> غیرفعال کردن </a></a>
                        </td>
                    </tr>
                    <tr class="even pointer">

                        <td class=" ">658947</td>
                        <td class=" "> موتور گیربکس </td>
                        <td class=" "><img src="images/prod-1.jpg" class="img-responsive" alt="Cinque Terre" width="120" height="120"> </td>
                        <td class="">10</td>
                        <td class="success">فعال</td>
                        <td class=" last">
                            <a href="calendar" class="btn btn-info btn-xs"><i class="fa fa-calendar"></i>  مشاهده </a>
                            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> ویرایش </a>
                            <a href="calendar" class="btn btn-info btn-xs"><i class="fa fa-calendar"></i>  افزودن محصول </a>
                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> غیرفعال کردن </a></a>
                        </td>
                    </tr>
                    <tr class="even pointer">

                        <td class=" ">658947</td>
                        <td class=" "> موتور گیربکس </td>
                        <td class=" "><img src="images/prod-1.jpg" class="img-responsive" alt="Cinque Terre" width="120" height="120"> </td>
                        <td class="">10</td>
                        <td class="success">فعال</td>
                        <td class=" last">
                            <a href="calendar" class="btn btn-info btn-xs"><i class="fa fa-calendar"></i>  مشاهده </a>
                            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> ویرایش </a>
                            <a href="calendar" class="btn btn-info btn-xs"><i class="fa fa-calendar"></i>  افزودن محصول </a>
                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> غیرفعال کردن </a></a>
                        </td>
                    </tr>
                    <tr class="even pointer">

                        <td class=" ">658947</td>
                        <td class=" "> موتور گیربکس </td>
                        <td class=" "><img src="images/prod-1.jpg" class="img-responsive" alt="Cinque Terre" width="120" height="120"> </td>
                        <td class="">10</td>
                        <td class="success">فعال</td>
                        <td class=" last">
                            <a href="calendar" class="btn btn-info btn-xs"><i class="fa fa-calendar"></i>  مشاهده </a>
                            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> ویرایش </a>
                            <a href="calendar" class="btn btn-info btn-xs"><i class="fa fa-calendar"></i>  افزودن محصول </a>
                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> غیرفعال کردن </a></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>