
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">


        <div class="x_content">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
            <div class="table-responsive">
                <table class="table table-striped jambo_table ">
                    <thead>
                    <tr class="headings">

                        <th class="column-title">نام دسته بندی</th>
                        <th class="column-title">تصویر</th>
                        <th class="column-title">تعداد زیر مجموعه</th>
                        <th class="column-title">وضعیت</th>
                        <th class="column-title no-link last"><span class="nobr">عملیات</span>
                        </th>
                        <th class="bulk-actions" colspan="7">
                            <a class="antoo" style="color:#fff; font-weight:500;">عمل همگانی ( <span
                                    class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                        </th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr class="even pointer">

                        <td class=" ">انواع موتور گیربکس</td>
                        <td class=" ">May 23, 2014 11:47:56 PM</td>
                        <td class=" ">12</td>
                        <td class=" ">Paid</td>
                        <td class="a-right a-right ">$7.45</td>
                        <td class=" last"><a href="#">مشاهده</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    </div>
    </div>