
<% include ./partials/start%>
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">


            <div class="x_content">

                <div class="col-md-9 col-sm-9 col-xs-12">

                    <ul class="stats-overview">
                        <li>
                            <span class="name"> مبلغ کل قرارداد </span>
                            <span class="value text-success"> 2300 </span>
                        </li>
                        <li>
                            <span class="name"> مجموع پرداخت ها </span>
                            <span class="value text-success"> 2000 </span>
                        </li>
                        <li class="hidden-phone">
                            <span class="name"> مجموع هزینه ها </span>
                            <span class="value text-success"> 20 </span>
                        </li>
                    </ul>
                    <br/>

                    <div id="mainb" style="height:350px;"></div>

                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">

                            <!-- start recent activity -->
                            <ul class="messages">
                                <li>
                                    <img src="../images/img.jpg" class="avatar" alt="Avatar">
                                    <div class="message_date">
                                        <h3 class="date text-info">۳</h3>
                                        <p class="month">خرداد</p>
                                    </div>
                                    <div class="message_wrapper">
                                        <h4 class="heading">سرویس ماهیانه</h4>
                                        <blockquote class="message">روغنکاری و تعویض فیوز تابلو برق
                                        </blockquote>
                                        <br>
                                        <p class="url">
                                            <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                                            <a href="#"></a>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <img src="../images/img.jpg" class="avatar" alt="Avatar">
                                    <div class="message_date">
                                        <h3 class="date text-error">۳۱</h3>
                                        <p class="month">اردیبهشت</p>
                                    </div>
                                    <div class="message_wrapper">
                                        <h4 class="heading">تعمیر آسانسور</h4>
                                        <blockquote class="message">تنظیم درب آسانسور
                                        </blockquote>
                                        <br>
                                        <p class="url">
                                            <span class="fs1" aria-hidden="true" data-icon=""></span>
                                            <a href="#" data-original-title="">جزئیات</a>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <img src="../images/img.jpg" class="avatar" alt="Avatar">
                                    <div class="message_date">
                                        <h3 class="date text-info">۳</h3>
                                        <p class="month">خرداد</p>
                                    </div>
                                    <div class="message_wrapper">
                                        <h4 class="heading">تعمیر آسانسور</h4>
                                        <blockquote class="message">تعویض موتور با قطعه جایگزین و ارسال جهت گارانتی
                                        </blockquote>
                                        <br>
                                        <p class="url">
                                            <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                                            <a href="#">جزئیات </a>
                                        </p>
                                    </div>
                                </li>

                            </ul>
                            <!-- end recent activity -->

                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">

                            <!-- start user projects -->
                            <table class="data table table-striped no-margin">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>عنوان خدمت</th>
                                    <th>نام مشتری</th>
                                    <th class="hidden-phone">ساعت صرف شده</th>
                                    <th>پیشرفت</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>سرویس ماهیانه</td>
                                    <td>مهندس فلاح</td>
                                    <td class="hidden-phone">18</td>
                                    <td class="vertical-align-mid">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" data-transitiongoal="35"></div>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>3</td>
                                    <td>تعمیر آسانسور</td>
                                    <td>مهندس رضوی</td>
                                    <td class="hidden-phone">30</td>
                                    <td class="vertical-align-mid">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" data-transitiongoal="45"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>خدمات تاسیسات</td>
                                    <td>مجید صدرایی</td>
                                    <td class="hidden-phone">28</td>
                                    <td class="vertical-align-mid">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-success" data-transitiongoal="75"></div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- end user projects -->

                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                            <p>متخصص در امور تعمیر و راه اندازی تابلو برق های انواع آسانسور ها</p>
                        </div>
                    </div>


                </div>

                <!-- start project-detail sidebar -->
                <div class="col-md-3 col-sm-3 col-xs-12">

                    <section class="panel">

                        <div class="x_title">
                            <h2>توضیحات پروژه</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                            <h3 class="green">  </i>خلاصه پروژه</h3>

                            <p>قرارداد یکساله نگهداری با سرویس ماهیانه و بیمه به عهده کارفرما</p>
                            <br/>

                            <div class="project_detail">

                                <p class="title">نام مشتری</p>
                                <p>مجید صدرایی</p>
                                <p class="title">آدرس</p>
                                <p>صیاد شیرازی 2 سرو10 پلاک 51</p>
                                <p class="title">شماره تماس</p>
                                <p>09159090644</p>
                            </div>

                            <br/>
                            <h5>فایل های پروژه</h5>
                            <ul class="list-unstyled project_files">
                                <li><a href=""><i class="fa fa-file-word-o"></i>
                                    قرارداد.docx</a>
                                </li>

                            </ul>
                            <br/>


                        </div>

                    </section>

                </div>
                <!-- end project-detail sidebar -->

            </div>
        </div>
    </div>
    </div>
    </div>
</div>

</div>
</div>
</div>
</div>


</div>
</div>
<% include ./partials/footer%>

</div>
<!-- jQuery -->
<script src="../vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="../vendors/nprogress/nprogress.js"></script>
<!-- bootstrap-progressbar -->
<script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="../vendors/iCheck/icheck.min.js"></script>

<!-- bootstrap-daterangepicker -->
<script src="../vendors/moment/min/moment.min.js"></script>

<script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

<!-- ECharts -->
<script src="../vendors/echarts/dist/echarts.min.js"></script>

<!-- Custom Theme Scripts -->
<script src="../js/custom.js"></script>
<script src="../js/persianumber.js"></script></body>
</html>
