<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
<section class="main__container--limited-width">
  <h1 class="main__title">{{uppercase singleFruit}}</h1>
  <img class="fruit__hero" src="../images/fruits/{{singleFruit}}.jpg" alt="{{singleFruit}}" />
</section>
    </div>
    </div>