<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">

            <div class="x_content">
                <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                    <div class="profile_img">
                        <div id="crop-avatar">
                            <!-- Current avatar -->
                            <img class="img-responsive avatar-view"
                                 src="https://www.gravatar.com/avatar/c7a79167b6d736630e3a64e206e22a5a/?s=220"
                                 alt="Avatar"
                                 title="Change the avatar">
                        </div>
                    </div>
                    <h3> محمد جعفری</h3>

                    <ul class="list-unstyled user_data">
                        <li><i class="fa fa-map-marker user-profile-icon"></i>گاراژدارها ، پروین 12
                        </li>

                        <li>
                            <i class="fa fa-briefcase user-profile-icon"></i>   نصاب تابلو
                        </li>


                    </ul>

                    <a class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>&nbsp;ویرایش پروفایل</a>
                    <br/>

                    <!-- start skills -->
                    <h4>مهارت ها</h4>
                    <ul class="list-unstyled user_data">
                        <li>
                            <p>طراحی تابلو برق</p>
                            <div class="progress progress_sm">
                                <div class="progress-bar bg-green" role="progressbar"
                                     data-transitiongoal="50"></div>
                            </div>
                        </li>
                        <li>
                            <p>نصب تابلو سه فاز</p>
                            <div class="progress progress_sm">
                                <div class="progress-bar bg-green" role="progressbar"
                                     data-transitiongoal="70"></div>
                            </div>
                        </li>
                        <li>
                            <p>تست و عیب یابی انواع تابلو برق</p>
                            <div class="progress progress_sm">
                                <div class="progress-bar bg-green" role="progressbar"
                                     data-transitiongoal="30"></div>
                            </div>
                        </li>
                    </ul>
                    <!-- end of skills -->

                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">

                    <div class="profile_title">
                        <div class="col-md-6">
                            <h2>گزارش فعالیت کاربر</h2>
                        </div>
                        <div class="col-md-6">
                            <div id="reportrange" class="pull-left"
                                 style="margin-top: 5px; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #E6E9ED">
                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                            </div>
                        </div>
                    </div>
                    <!-- start of user-activity-graph -->
                    <div id="graph_bar" style="width: 100%; height: 280px; position: relative;"><svg height="280" version="1.1" width="1153" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="overflow: hidden; position: relative; left: -0.75px; top: -0.600006px;"><desc>Created with Raphaël 2.2.0</desc><defs></defs><text style="text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="42.5" y="208.38055839999998" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal"><tspan dy="4.000004200781234">0</tspan></text><path style="" fill="none" stroke="#aaaaaa" d="M55,208.38055839999998H1128" stroke-width="0.5"></path><text style="text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="42.5" y="162.5354188" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal"><tspan dy="4.00000315058594">750</tspan></text><path style="" fill="none" stroke="#aaaaaa" d="M55,162.5354188H1128" stroke-width="0.5"></path><text style="text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="42.5" y="116.69027919999999" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal"><tspan dy="4.000002100390617">1,500</tspan></text><path style="" fill="none" stroke="#aaaaaa" d="M55,116.69027919999999H1128" stroke-width="0.5"></path><text style="text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="42.5" y="70.84513960000001" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal"><tspan dy="4.000001050195323">2,250</tspan></text><path style="" fill="none" stroke="#aaaaaa" d="M55,70.84513960000001H1128" stroke-width="0.5"></path><text style="text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="42.5" y="25" text-anchor="end" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal"><tspan dy="4">3,000</tspan></text><path style="" fill="none" stroke="#aaaaaa" d="M55,25H1128" stroke-width="0.5"></path><text style="text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="1074.35" y="220.88055839999998" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal" transform="matrix(0.8192,-0.5736,0.5736,0.8192,52.0059,674.5115)"><tspan dy="4.000004200781234"></tspan></text><text style="text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="967.05" y="220.88055839999998" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal" transform="matrix(0.8192,-0.5736,0.5736,0.8192,30.1434,614.6875)"><tspan dy="4.000004200781234"></tspan></text><text style="text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="859.75" y="220.88055839999998" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal" transform="matrix(0.8192,-0.5736,0.5736,0.8192,7.4618,555.4371)"><tspan dy="4.000004200781234"></tspan></text><text style="text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="752.45" y="220.88055839999998" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal" transform="matrix(0.8192,-0.5736,0.5736,0.8192,-6.2091,489.8773)"><tspan dy="4.000004200781234">درب اتومات</tspan></text><text style="text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="645.15" y="220.88055839999998" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal" transform="matrix(0.8192,-0.5736,0.5736,0.8192,-28.0715,430.0533)"><tspan dy="4.000004200781234">پله برقی</tspan></text><text style="text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="537.85" y="220.88055839999998" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal" transform="matrix(0.8192,-0.5736,0.5736,0.8192,-45.0191,366.7878)"><tspan dy="4.000004200781234">تاسیسات</tspan></text><text style="text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="430.55" y="220.88055839999998" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal" transform="matrix(0.8192,-0.5736,0.5736,0.8192,-75.8922,313.2731)"><tspan dy="4.000004200781234">تعمیر آسانسور</tspan></text><text style="text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="323.25" y="220.88055839999998" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal" transform="matrix(0.8192,-0.5736,0.5736,0.8192,-86.2865,245.419)"><tspan dy="4.000004200781234">نصب آسانسور</tspan></text><text style="text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="215.95" y="220.88055839999998" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal" transform="matrix(0.8192,-0.5736,0.5736,0.8192,-117.1596,191.9043)"><tspan dy="4.000004200781234">سرویس ماهیانه</tspan></text><text style="text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;" x="108.65" y="220.88055839999998" text-anchor="middle" font-family="sans-serif" font-size="12px" stroke="none" fill="#888888" font-weight="normal" transform="matrix(0.8192,-0.5736,0.5736,0.8192,-116.4954,116.307)"><tspan dy="4.000004200781234">دیگر</tspan></text><rect x="68.4125" y="124.57564321119999" width="80.475" height="83.8049151888" rx="0" ry="0" fill="#26b99a" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="175.7125" y="118.4629579312" width="80.475" height="89.91760046879999" rx="0" ry="0" fill="#26b99a" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="283.01250000000005" y="63.44879041120001" width="80.475" height="144.93176798879998" rx="0" ry="0" fill="#26b99a" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="390.3125" y="138.4514387968" width="80.475" height="69.92911960319998" rx="0" ry="0" fill="#26b99a" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="497.6125" y="76.7133174688" width="80.475" height="131.66724093119998" rx="0" ry="0" fill="#26b99a" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="604.9125" y="168.342469816" width="80.475" height="40.03808858399998" rx="0" ry="0" fill="#26b99a" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="712.2125" y="112.3502726512" width="80.475" height="96.03028574879998" rx="0" ry="0" fill="#26b99a" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="819.5125" y="191.57067388" width="80.475" height="16.809884519999997" rx="0" ry="0" fill="#26b99a" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="926.8125" y="168.342469816" width="80.475" height="40.03808858399998" rx="0" ry="0" fill="#26b99a" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect><rect x="1034.1125" y="185.15235433599997" width="80.475" height="23.22820406400001" rx="0" ry="0" fill="#26b99a" stroke="none" style="fill-opacity: 1;" fill-opacity="1"></rect></svg><div class="morris-hover morris-default-style" style="left: 68.15px; top: 110px; display: none;"><div class="morris-hover-row-label">دیگر</div><div class="morris-hover-point" style="color: #26B99A">
                    </div></div></div>
                    <!-- end of user-activity-graph -->

                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#tab_content1" id="home-tab"
                                                                      role="tab" data-toggle="tab"
                                                                      aria-expanded="true">فعالیت اخیر</a>
                            </li>
                            <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab"
                                                                data-toggle="tab" aria-expanded="false">پروژه مشغول به کار</a>
                            </li>
                            <li role="presentation" class=""><a href="#tab_content3" role="tab"
                                                                id="profile-tab2" data-toggle="tab"
                                                                aria-expanded="false">پروفایل</a>
                            </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade active in" id="tab_content1"
                                 aria-labelledby="home-tab">

                                <!-- start recent activity -->
                                <ul class="messages">
                                    <li>
                                        <img src="../images/img.jpg" class="avatar" alt="Avatar">
                                        <div class="message_date">
                                            <h3 class="date text-info">۳</h3>
                                            <p class="month">خرداد</p>
                                        </div>
                                        <div class="message_wrapper">
                                            <h4 class="heading">سرویس ماهیانه</h4>
                                            <blockquote class="message">روغنکاری و تعویض فیوز تابلو برق
                                            </blockquote>
                                            <br/>
                                            <p class="url">
                                                        <span class="fs1 text-info" aria-hidden="true"
                                                              data-icon=""></span>
                                                <a href="#"></a>
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="../images/img.jpg" class="avatar" alt="Avatar">
                                        <div class="message_date">
                                            <h3 class="date text-error">۳۱</h3>
                                            <p class="month">اردیبهشت</p>
                                        </div>
                                        <div class="message_wrapper">
                                            <h4 class="heading">تعمیر آسانسور</h4>
                                            <blockquote class="message">تنظیم درب آسانسور
                                            </blockquote>
                                            <br/>
                                            <p class="url">
                                                <span class="fs1" aria-hidden="true" data-icon=""></span>
                                                <a href="#" data-original-title="">جزئیات</a>
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <img src="../images/img.jpg" class="avatar" alt="Avatar">
                                        <div class="message_date">
                                            <h3 class="date text-info">۳</h3>
                                            <p class="month">خرداد</p>
                                        </div>
                                        <div class="message_wrapper">
                                            <h4 class="heading">تعمیر آسانسور</h4>
                                            <blockquote class="message">تعویض موتور با قطعه جایگزین و ارسال جهت گارانتی
                                            </blockquote>
                                            <br/>
                                            <p class="url">
                                                        <span class="fs1 text-info" aria-hidden="true"
                                                              data-icon=""></span>
                                                <a href="#">جزئیات </a>
                                            </p>
                                        </div>
                                    </li>

                                </ul>
                                <!-- end recent activity -->

                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab_content2"
                                 aria-labelledby="profile-tab">

                                <!-- start user projects -->
                                <table class="data table table-striped no-margin">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>عنوان خدمت</th>
                                        <th>نام مشتری</th>
                                        <th class="hidden-phone">ساعت صرف شده</th>
                                        <th>پیشرفت</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>سرویس ماهیانه</td>
                                        <td>مهندس فلاح</td>
                                        <td class="hidden-phone">18</td>
                                        <td class="vertical-align-mid">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success"
                                                     data-transitiongoal="35"></div>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>3</td>
                                        <td>تعمیر آسانسور</td>
                                        <td>مهندس رضوی</td>
                                        <td class="hidden-phone">30</td>
                                        <td class="vertical-align-mid">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success"
                                                     data-transitiongoal="45"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>خدمات تاسیسات</td>
                                        <td>مجید صدرایی</td>
                                        <td class="hidden-phone">28</td>
                                        <td class="vertical-align-mid">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success"
                                                     data-transitiongoal="75"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!-- end user projects -->

                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab_content3"
                                 aria-labelledby="profile-tab">
                                <p>متخصص در امور تعمیر و راه اندازی تابلو برق های انواع آسانسور ها</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>