<div class="left_col scroll-view" style="width: 100%">

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <div class="profile clearfix">
        <div class="profile_pic">
            <img src="../images/img.jpg" alt="..." class="img-circle profile_img">
        </div>
        <div class="profile_info">
            <span>خوش آمدید,</span>
            <h2>مرتضی کریمی</h2>
        </div>
    </div>
    <!-- /menu profile quick info -->

    <br/>

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <h3>عمومی</h3>
            <ul class="nav side-menu">
                <li class=""><a href="/">داشبورد</a>
                </li>
                <li><a><i class="fa fa-users"></i> شرکت ها همکار <span
                        class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="sherkat_list">لیست شرکت ها</a></li>
                        <li><a href="sherkat_add">ثبت شرکت</a></li>
                        <li><a href="eshterak_list">انواع اشتراک</a></li>
                    </ul>
                </li>
                <li><a><i class="fa fa-eye"></i>مدیریت درخواست ها <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a>فروش آسانسور<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li class="sub_menu"><a href="asansorsale_invoice">فاکتورها</a>
                                </li>
                                <li><a href="asansorsale_list">درخواست های بازدید</a>
                                </li>
                                <li><a href="asansorsale_add">ثبت درخواست بازدید</a>
                                </li>

                            </ul>
                        </li>
                        <li><a>درخواست های استاندارد <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li class="sub_menu"><a href="standard_invoice">فاکتورها</a>
                                </li>
                                <li><a href="standard_list">درخواست های بازدید</a>
                                </li>
                                <li><a href="standard_add">ثبت درخواست بازدید</a>
                                </li>
                            </ul>
                        </li>
                        <li><a>درخواست های مشاوره و نظارت <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li class="sub_menu"><a href="nezarat_invoice">فاکتورها</a>
                                </li>
                                <li><a href="nezarat_list">درخواست های بازدید</a>
                                </li>
                                <li><a href="nezarat_add">ثبت درخواست بازدید</a>
                                </li>
                            </ul>
                        </li>
                        <li><a> درخواست های عقد قرارداد سرویس و نگهداری<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li class="sub_menu"><a href="contract_invoice">فاکتورها</a></li>
                                <li class="sub_menu"><a href="contract_list">لیست درخواست های بازدید</a>
                                </li>
                                <li><a href="contract_add">ثبت درخواست بازدید</a>
                                </li>
                            </ul>
                        </li>
                        <li><a>درخواست های تعمیر<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li class="sub_menu"><a href="repair_invoice">فاکتورها</a></li>
                                <li class="sub_menu"><a href="repair_list">لیست درخواست ها</a>
                                </li>
                                <li><a href="repair_add">ثبت درخواست</a>
                                </li>
                            </ul>
                        </li>
                        <li><a>درخواست های پشتیبانی اداری<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li class="sub_menu"><a href="poshtibani_invoice">فاکتورها</a></li>
                                <li class="sub_menu"><a href="poshtibani_list">لیست درخواست ها</a>
                                </li>
                                <li><a href="poshtibani_add">ثبت درخواست</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a><i class="fa fa-edit"></i>مدیریت مطالب<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a>نکات ایمنی و نجات <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li class="sub_menu"><a href="imani_add">ثبت مطلب جدید</a>
                                </li>
                                <li><a href="imani_list">لیست مطالب</a>
                                </li>
                            </ul>
                        </li>
                        <li><a>گواهینامه های ما <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li class="sub_menu"><a href="certificate_add">ثبت گواهینام جدید</a>
                                </li>
                                <li><a href="certificate_list">لیست گواهینامه ها</a>
                                </li>
                            </ul>
                        </li>
                        <li><a>مجموعه قوانین<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li class="sub_menu"><a href="rules_add">ثبت مطلب جدید</a>
                                </li>
                                <li><a href="rules_list">لیست قوانین</a>
                                </li>
                            </ul>
                        </li>
                        <li><a>دوره های آموزشی<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li class="sub_menu"><a href="learning_add">ثبت دوره جدید</a>
                                </li>
                                <li><a href="learning_list">لیست دوره ها</a>
                                </li>
                            </ul>
                        </li>
                        <li><a>دستورالعمل ها<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li class="sub_menu"><a href="recepie_add">ثبت دستورالعمل جدید</a>
                                </li>
                                <li><a href="recepie_list">لیست دستورالعمل ها</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li><a><i class="fa fa-sitemap"></i> مدیریت فروش <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a>فروش آسانسور<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li class="sub_menu"><a href="asansor_invoice">فاکتورها</a>
                                </li>
                                <li><a href="asansor_list">درخواست های بازدید</a>
                                </li>
                                <li><a href="asansor_add">ثبت درخواست بازدید</a>
                                </li>
                                <li><a href="#level2_2">تنظیمات فروش</a>
                                </li>
                            </ul>
                        </li>

                        <li><a>پکیج های فروش <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li class="sub_menu"><a href="pricing_table">لیست پکیج ها</a>
                                </li>
                                <li><a href="package_add">ثبت پکیج</a>
                                </li>
                            </ul>
                        </li>
                        <li><a>فروش قطعات<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li class="sub_menu"><a href="category_list">لیست دسته بندی قطعات</a>
                                </li>
                                <li class="sub_menu"><a href="category_add">ثبت دسته بندی قطعات</a>
                                </li>
                                <li class="sub_menu"><a href="product_add">ثبت قطعه</a>
                                </li>
                                <li><a href="product_list">لیست قطعات</a>
                                </li>
                            </ul>
                        </li>
                        <li><a>فروشندگان <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li class="sub_menu"><a href="product_category">لیست فروشندگان</a>
                                </li>
                                <li class="sub_menu"><a href="product_category">ثبت فروشنده جدید</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a  href="chat"><i class="fa fa-edit"></i> پرسش و پاسخ </a></li>
                <li><a  href="map"><i class="fa fa-edit"></i> نقشه </a></li>


                <li><a><i class="fa fa-edit"></i> کاربران <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="user_add">ثبت نام کاربر</a></li>
                        <li><a href="user_list">لیست کاربران</a></li>
                    </ul>
                </li>
                <li><a><i class="fa fa-edit"></i> تکنسین ها <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="teknesian_add">ثبت نام تکنسین</a></li>
                        <li><a href="teknesian_list">لیست تکنسین ها</a></li>
                    </ul>
                </li>
                <li><a><i class="fa fa-edit"></i> اپراتورها <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="operator_add">ثبت نام اپراتور</a></li>
                        <li><a href="operator_list">لیست اپراتورها</a></li>
                    </ul>
                </li>
                <li><a><i class="fa fa-edit"></i> قراردادها <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="contracts">لیست قراردادها</a></li>
                    </ul>
                </li>

            </ul>
        </div>

    </div>
    <!-- /sidebar menu -->

    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small">
        <a data-toggle="tooltip" data-placement="top" title="تنظیمات">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="تمام صفحه">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="قفل">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="خروج">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
    </div>
    <!-- /menu footer buttons -->
</div>
</div>
