<!DOCTYPE html>
<html lang="fa" dir="rtl">
<script src="js/sweetalert.min.js"></script>

<% include ./htmlHead %>



<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col hidden-print">

            <% include ./rightsidebar %>
            <% include ./topnavbar %>

            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3><%if(typeof  activePage!=='undefined'){%><%if(typeof  activePage.title!=='undefined'){%><%= activePage.title %><%}}%></h3>
                        </div>


                    </div>

                    <div class="clearfix"></div>

                    <div class="row">

